/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

body {
  /* position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center; */
  justify-content: center;
  background: #FFCED1;
}

.post-box{
  left: 300px;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.top-box {
  position: fixed;
  justify-content: center;
  border-radius: 24px;
  border: 3px solid #ffffff;
  background-color: #ffffff;
  top: 30px;
  left: 50px;
  width: 90%;
  height: 60px;
  z-index: 1;
}

.logo {
  position:absolute;
  width: 82.5px;
  height: 78.5px;
  top: 7px;
  left: 30px;
  cursor: pointer;
}
.logo:hover {
  box-shadow: 0 0 10px 2px #C93556;
}
.name {
  position:absolute;
  font-weight: bold;
  font-size: 30px;
  top: 30px;
  left: 120px;
  cursor: pointer;
}
.name:hover {
  color: #C93556;
}
.logout{
  position:absolute;
  background: #C93556;
  margin-top: 0.5%;
  margin-bottom: 0;
  padding: 10px;
  border-radius: 15px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  transition: background-color 0.3s;
  top: 22px;
  left: 1268px;
}
.logout:hover {
  background: #FFCED1;
}
/* .user {
  position:absolute;
  width: 44px;
  height: 44px;
  right: 140px;
  top: 22px;
  cursor: pointer;
} */
.bell {
  position:absolute;
  width: 32px;
  height: 32px;
  right: 185px;
  top: 30px;
  cursor: pointer;
}
.search {
  position:absolute;
  width: 32px;
  height: 32px;
  right: 230px;
  top: 30px;
  cursor: pointer;
}
.home {
  position:absolute;
  width: 32px;
  height: 32px;
  right: 275px;
  top: 30px;
  cursor: pointer;
}

/* White big box */
.main {
  position: relative;
  width: 800px;
  height: 450px;
  top: 40px;
  padding: 0px;
  display: flex;
  border-radius: 30px;
  background: white;
}
.post-heading {
  font-size: 24px;
  color: #C93556;
  text-align: center;
  margin: 25px 0;
}
#post-text {
  position: relative;
  left: 50px;
  width: 700px;
  height: 60%;
  border-radius: 30px;
  background: #FFCED1;
  border-color: #FFCED1;
  color: white;
}
/* After user clicked the post-text box. */
#post-text:focus {
  border-color: #C93556;
  border-width: 2px;
  outline: none; /* Remove the default focus outline */
}

/* For choose file button */
.bottom input[type="file"] {
  background-color: #C93556;
  color: #fff;
  padding: 7px 17px; /* Padding for the button */
  border: none; /* Remove default border */
  width: 236px;
  height: 37px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
  margin-left: 53px;
  margin-top: 30px;
  font-weight: bold;
}
.bottom input[type="file"]:hover {
  background-color: #FFCED1;
}
/* For Post button. */
.bottom input[type="submit"] {
  background-color: #C93556;
  color: #fff;
  padding: 10px 20px; /* Padding for the button */
  border: none; /* Remove default border */
  border-radius: 15px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
  margin-left: 666px;
  margin-top: -35px;
  font-weight: bold;
}
/* Hover on the Post button. */
.bottom input[type="submit"]:hover {
  background-color: #FFCED1;
}


input[type = "file"]{
  padding-top: 1%;
}

input[type = "submit"]{
  padding: 10px; 
  float:left; 
  margin-top:1%; 
  width: 80px;
}